name: Deploy Server to DigitalOcean VPS

on:
  push:
    branches:
      - master 
    paths:
      - "packages/server/**"
      - "packages/common/**"

env:
  REGISTRY: ghcr.io
  PACKAGE_NAME: deckards-server
  IMAGE_NAME: ${{ github.repository_owner }}/deckards-server

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha,prefix={{branch}}-
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push server image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./packages/server/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

      - name: Deploy Server to VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }} # ip addr of the server
          username: ${{ secrets.VPS_USERNAME }} # default user of the server; ideally, ensure its not using root
          key: ${{ secrets.VPS_SSH_KEY }} # private key not pub!
          script: |
            cd ~/vps
            git pull
            docker compose pull ${{ env.PACKAGE_NAME }} 
            docker compose up -d ${{ env.PACKAGE_NAME }}
            docker image prune -f
